
/* Home page */
html {
    font-size: 14px;
}
section.home-page{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
}
section.main-data{
    text-align: center;
    background-color: blanchedalmond;
    /* background-color: aqua; */
}